<div id="home" class="relative min-h-screen bg-white scroll-mt-16">
    <app-navbar></app-navbar>
    <!-- Background Image -->
    <div class="absolute inset-0">
        <div class="relative w-full h-[100vh]">
            <img src="assets/landscapebahnmi.jpg" class="w-full h-full object-cover shadow-2xl" />
            <!-- Dark overlay for better text readability -->
            <div class="absolute inset-0 bg-gradient-to-t from-black/50 via-transparent to-black/50"></div>
            <div class="absolute inset-0 bg-gradient-to-r from-black/50 via-transparent to-black/50"></div>
        </div>
    </div>
    
    <!-- Content -->
    <div class="relative z-10 flex items-center justify-center min-h-screen">
        <div class="text-center text-white px-16 font-[Poppins]">
            <h1 class="text-7xl font-bold mb-6 font-[Courgette]">Welcome to </h1>
            <h1 class="text-8xl font-bold mb-6 font-[Poppins]">Fresh and Best Cafe 2</h1>
            <a href="#order" class="btn bg-white hover:bg-gray-200 border-none text-lg px-10 py-8 h-8 text-red-500 font-normal font-[Poppins] rounded-2xl mt-8">Order Now</a>
        </div>
    </div>
</div>

<app-menu id="menu" class="scroll-mt-16"></app-menu>

<app-order id="order" class="scroll-mt-16"></app-order>

<app-reviews id="reviews" class="scroll-mt-16"></app-reviews>

<app-location id="location" class="scroll-mt-16"></app-location>